.empty-well {
  background: transparent;
}
.bigger-icn {
  font-size: 5em;
}
.error {
  color: #d9534f;
}
.page-upper-margin {
  margin-top:40px
}
.upper-margin-25 {
  margin-top: 15px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 170px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 170px;
  background-color: #333333;
  color: #CCCCCC;
}
